* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: #fafafa;
}

.container {
    display: flex;
    height: 100vh;
}
.logo{
    color:#1877f2;
    font-size:60px;
    margin-top: 10px;
    margin-right: 500px;
}
.left-section {
    flex: 1;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    border-right: #999 1px solid;
}
.text{
    color:#000;

}

.left-section h1 {
    font-size: 34px;
    font-weight: 300;
    line-height: 2.0;
    text-align: center;
    margin-bottom: -5px;
    font-family: serif;
}

.highlight {
    color: #ff14b8;
    font-weight: 500;
}

.phone-mockup {
    width: 380px;
}

.phone-mockup img {
    width: 100%;
    height: auto;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

.login-box {
    width: 100%;
    max-width: 350px;
}

.login-box h2 {
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    font-size: 15px;
    background-color: #fafafa;
    color: #000;
}

input::placeholder {
    color: #999;
}

input:focus {
    outline: none;
    border-color: #0095f6;
    background-color: #fff;
}

button[type="submit"] {
    padding: 12px;
    background-color: #0095f6;
    color: rgba(255, 255, 255, 0.418);
    border: none;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0877f2;
}

.forgot-password {
    text-align: center;
    font-size: 16px;
    color: #000203;
    cursor: pointer;
    margin-bottom: 20px;
}

.facebook-login {
    width: 100%;
    padding: 4px;
    background-color: transparent;
    color: #0095f6;
    border: 1px solid #b6d8ee;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.facebook {
    width: 100%;
    height: 30px;
    margin-top: 12px;
}

.signup {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    color: #0095f6;
    border: 1px solid #0095f6;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


